
*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    
}

body{
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 20px;
  
}

#menu li:nth-child(3){
    border-bottom: 2px solid white;
}

#content{
    display: flex;
}

#izquierda {
    width: 39%;
    padding: 0 100px;
}


#izquierda #txtitu{
    display: flex;
    margin-bottom: 150px;
    margin-top: 66px;
    color: white;
    
}
#txtitu #h1tt{
    
    margin-right: 15px;
    color: gray;
}

#descripcion #h1des{
    margin-bottom: 12px;
    color: gray;
}

#descripcion #h1desc{
    margin-bottom: 12px;
    font-size: 45px;
    color: white;
}

#descripcion #pdesc{
    margin-bottom: 55px;
    color: #D0D6F9;
    text-align: justify;
    line-height: 28px;
    
}

#puntos ul {
    list-style: none;
    padding: 0;
    display: flex;
    
}

.punto {
   margin-right: 15px;
     
}

.punto a {
    display: inline-block;
    background-color:gray; 
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 100%; 
     
}

.punto a:hover {
    background-color:white; 
}

.punto:nth-child(1) a {
    background-color: white; 
    color: #fff; 
}


#derecha{
    width: 35%;
}

#derecha #imgdere{
    margin-top: 66px;
    width: 100%;

}












